﻿@using umbracoFormsRecaptcha.reCaptchaUmbracoForms
@using Umbraco.Core.Logging
@using Umbraco.Forms.Core;

@model Umbraco.Forms.Mvc.Models.FieldViewModel

@{
    //Updated Jan 2016 to use new ReCaptcha 2.0

    var siteKey = Configuration.GetSetting("RecaptchaPublicKey");

    if (siteKey == "")
    {
        LogHelper.Warn<UmbracoFormsEvents>("ERROR: ReCaptcha v.2 is missing the Site Key - Please update the web.config to include 'key=\"RecaptchaSiteKey\"'");
    }
    else
    {
        //LogHelper.Info<UmbracoFormsEvents>("ReCaptcha Site Key:" + siteKey);
        if (!string.IsNullOrEmpty(siteKey))
        {
            var theme = "clean";
            var fieldSettingViewModel = Model.AdditionalSettings.FirstOrDefault(x => x.Key == "Theme");
            if (fieldSettingViewModel.Value != "")
            {
                theme = fieldSettingViewModel.Value;
            }

            <script type="text/javascript">
				window.rcids=window.rcids||[];
				window.rcids.push('recap-@Model.Id');

				function recapCb(){
					for(var i=0;i<window.rcids.length;i++){
						grecaptcha.render(rcids[i], {'sitekey' : '@siteKey', 'theme' : '@theme' });
					}
				}

				if(document.getElementById('recapScript')==null){
					var rcpscr = document.createElement('script');
					rcpscr.type = 'text/javascript';
					rcpscr.id='recapScript';
					rcpscr.async = true;
					rcpscr.defer = true;
					rcpscr.src = 'https://www.google.com/recaptcha/api.js?onload=recapCb&render=explicit';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(rcpscr, s);
				}
            </script>
            <div id="recap-@Model.Id"></div>
        }
    }
}